################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hello-world/CopilotIndices/17.13.433.20974
/.vs/hello-world/FileContentIndex
/.vs/hello-world/v17/.wsuo
/.vs/hello-world/v17/DocumentLayout.json
/.vs
